#brawlers {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, 350px);
  height: auto;
  justify-content: center;
  padding: 2em 10% 0 10%;
  position: relative;
  width: 100%;
}


