#brawlers {
  /* border: 2px solid red; */
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, 350px);
  height: auto;
  justify-content: center;
  padding: 4em 10%;
  position: relative;
  width: 100%;
}


