@keyframes neon {
  0% {
    box-shadow: 0 0 5px var(--neon-color, #fff);
  }
  100% {
    box-shadow: 0 0 15px var(--neon-color, #fff);
  }
}

.back {
  background: var(--color-background);
  border-radius: 10px;
  border: 2px solid var(--color-text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2px;

  transform: rotateY(180deg);
  transition: all 0.5s ease;

  h3,
  h4 {
    color: var(--color-text);
    font-weight: 100;
  }
}

.legendary.back {
  --neon-color: var(--legendary);
  animation: neon 1.5s infinite alternate;

  .character-name {
    h4 {
      color: var(--legendary);
    }
  }
}

.mythic.back {
  --neon-color: var(--mythic);
  animation: neon 1.5s infinite alternate;

  .character-name {
    h4 {
      color: var(--mythic);
    }
  }
}

.epic.back {
  --neon-color: var(--epic);
  animation: neon 1.5s infinite alternate;

  .character-name {
    h4 {
      color: var(--epic);
    }
  }
}

.superrare.back {
  --neon-color: var(--superRare);
  animation: neon 1.5s infinite alternate;

  .character-name {
    h4 {
      color: var(--superRare);
    }
  }
}

.rare.back,
.common.back {
  --neon-color: var(--rare);
  animation: neon 1.5s infinite alternate;

  .character-name {
    h4 {
      color: var(--rare);
    }
  }
}

.character-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100%;
  width: 100%;

  img {
    height: 50px;
    width: auto;
  }

  h4 {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--color-text);
    font-style: italic;
  }
}

.star-powers,
.gadgets {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.first-star-power,
.second-star-power,
.first-gadget,
.second-gadget {
  border: 2px solid green;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    height: auto;
    width: 30px;
  }
}
