@keyframes rotationalBorder {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --legendary: #fff11e;
  --mythic: #fe5e72;
  --epic: #d850ff;
  --superRare: #5ab3ff;
  --rare: #68fd58;
}

/* Aspectos generales de las cartas */

#brawlers-cards {
  display: grid;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.a-card-face {
  padding: 2em;
  width: 500px;
  background: black;
  position: relative;
  img {
    width: 200px;
    height: auto;
    object-fit: cover;
  }

  h3,
  p {
    color: var(--color-text);
    font-weight: 100;
    padding: 0.5em;
  }
}

/* Aspecto específico de cada clase */

.legendary {
}

.mythic::after,
.mythic::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 50%, var(--mythic));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;

  animation: rotationalBorder 2s linear infinite;
}

.mythic::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.epic {
}

.superRare {
}

.rare {
}
