@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --legendary: #fff11e;
  --mythic: #fe5e72;
  --epic: #d850ff;
  --superRare: #5ab3ff;
  --rare: #68fd58;
}

/* General design */
.character_card {
  background: var(--color-background);
  border-radius: 10px;
  border: 2px solid var(--color-text);
  cursor: pointer;
  min-height: 325px;
  position: relative;
  width: 100%;

  animation: fadeIn 0.5s ease-in-out;
}

.character_card > p {
  color: var(--color-text);
  font-weight: 100;
  padding: 1em;
}

.portrait_container {
  display: flex;
  position: relative;
  border-radius: 8px 8px 0 0;

  transition: all 0.3s ease-in-out;

}

.portrait_container > img {
  border-top-left-radius: 8px;
  height: 125px;
  width: auto;
}

.portrait_container > h3 {
  background: var(--color-text);
  border-radius: 10px;
  border: 3px solid black;
  bottom: -10px;
  padding: 5px 10px;
  position: absolute;
  right: -10px;
}

/* Portrait design */

.legendary:hover > .portrait_container {
  background: var(--legendary);
}

.mythic:hover > .portrait_container {
  background: var(--mythic);
}

.epic:hover > .portrait_container {
  background: var(--epic);
}

.superrare:hover > .portrait_container {
  background: var(--superRare);
}

.rare:hover > .portrait_container {
  background: var(--rare);
}

.common:hover > .portrait_container {
  background: var(--rare);
}

/* Dynamic border */
.legendary::after,
.legendary::before,
.mythic::after,
.mythic::before,
.epic::after,
.epic::before,
.superrare::after,
.superrare::before,
.rare::after,
.rare::before,
.common::after,
.common::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--legendary)
  );
  border-radius: 12px;
  content: "";
  height: 100%;
  left: 50%;
  opacity: 0;
  padding: 5px;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  z-index: -1;

  animation: 3s spin linear infinite;
  transition: all 0.3s ease-in-out;
}

.mythic::after,
.mythic::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--mythic)
  );
}

.epic::after,
.epic::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--epic)
  );
}

.superrare::after,
.superrare::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--superRare)
  );
}

.rare::after,
.rare::before,
.common::after,
.common::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--rare)
  );
}

.character_card::before {
  filter: blur(1.5rem);
  opacity: 0;
}

.legendary:hover::before,
.legendary:hover::after,
.mythic:hover::before,
.mythic:hover::after,
.epic:hover::before,
.epic:hover::after,
.superrare:hover::before,
.superrare:hover::after,
.rare:hover::before,
.rare:hover::after,
.common:hover::before,
.common:hover::after {
  opacity: 1;
}
