.info-popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--color-text);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--neon-color, #fff);
  white-space: nowrap;
  text-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  width: 250px;
  height: auto;
  z-index: 2;
  font-weight: 100;

  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.first-star-power:hover .info-popup,
.second-star-power:hover .info-popup,
.third-star-power:hover .info-popup,
.first-gadget:hover .info-popup,
.second-gadget:hover .info-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(-35px);
  animation: neon 1.5s infinite alternate;
}
